## Deliverable 3. Create a Travel Itinerary Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [19]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Karaton,ID,87.96,overcast clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
1,17,Cabo San Lucas,MX,85.17,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,26,Victoria,HK,89.65,scattered clouds,22.2855,114.1577,Mini Hotel Central
3,34,Kavieng,PG,84.88,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
4,40,Ishigaki,JP,84.36,clear sky,24.3448,124.1572,Hotel Peace Land Ishigakijima

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] == "Uncle Junior Robert"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] == "Uncle Junior Robert"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"] =="Marriott's Ko Olina Beach Club"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"] =="Paradise Bay Resort"] 
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"] =="Sheffield House Bed & Breakfast"]

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'{start},{end},{stop1},{stop2},{stop3}')

(21.3156, -158.0072),(21.3156, -158.0072),(21.3469, -158.0858),(21.4447, -157.8378),(21.4022, -157.7394)

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode="DRIVING")

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,604,Ewa Beach,US,84.15,broken clouds,21.3156,-158.0072,Uncle Junior Robert
1,236,Makakilo City,US,82.72,broken clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
2,93,Ahuimanu,US,83.91,moderate rain,21.4447,-157.8378,Paradise Bay Resort
3,157,Kailua,US,84.18,moderate rain,21.4022,-157.7394,Sheffield House Bed & Breakfast

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))